# This is ChengShu Gao, Congshan Yang, Ruojia Zhang and Ryan Rosica's homework2.

In [1]:
import pandas

dataframe = pandas.read_csv('student-mat.csv')
print(dataframe.head())

for c in dataframe.columns:
    print(c)
    print(dataframe[c].value_counts(dropna=False))
print(dataframe.columns)

from sklearn.model_selection import train_test_split

target = 'internet'
y = dataframe[target].map({'yes': 1, 'no': 0})

X = dataframe.drop(labels = [target], axis='columns')


# drop non-numberic fields
yes_no = ['activities','schoolsup','famsup','paid','nursery','higher','romantic']
# map yes/no to 1/0
for c in yes_no:
    X[c] = X[c].map({'yes': 1, 'no': 0})
# translate non_numeric fields to int
non_numeric = ['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob',
   'Fjob', 'reason', 'guardian']
for c in non_numeric:
    X[c] = X[c].astype('category').cat.codes

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]
school
GP    349
MS     46
Name: school, dtype: int64
sex
F    208
M    187
Name: sex, dtype: int64
age
16    104
17     98
18     82
15     82
19     24
20      3
22      1
21      1
Name: age, dtype: int64
address
U    307
R     88
Name: address, dtype: int64
famsize
GT3    281
LE3    114
Name: famsize, dtype: int64
Pstatus
T    354
A     41
Name: Pstatus, dtype: int64
Medu
4    131
2    103
3     99
1     59
0      3
Name: Medu, dtype: int64
Fedu
2    115
3    100
4     96
1     82
0      2
Name: Fedu, dtype: int64
Mjob
other       141
services    103
at_home      59
teacher      58
health       34
Name: Mjob, dtype: int64
Fjob
other       217
services    111
teacher      29
at_home      20
health       18
Name: Fjob, dtype: int64
reason
course        145
home          109
reputation    105
other          36
Name: reason, dtype: int64
guardian
mother    273
father     90
other      32
Name: guardian, dtype: int64
traveltime
1    257
2    107
3     23
4      8
Name: traveltime, dtype: int64
studytime
2    198
1    105
3     65
4     27
Name: studytime, dtype: int64
failures
0    312
1     50
2     17
3     16
Name: failures, dtype: int64
schoolsup
no     344
yes     51
Name: schoolsup, dtype: int64
famsup
yes    242
no     153
Name: famsup, dtype: int64
paid
no     214
yes    181
Name: paid, dtype: int64
activities
yes    201
no     194
Name: activities, dtype: int64
nursery
yes    314
no      81
Name: nursery, dtype: int64
higher
yes    375
no      20
Name: higher, dtype: int64
internet
yes    329
no      66
Name: internet, dtype: int64
romantic
no     263
yes    132
Name: romantic, dtype: int64
famrel
4    195
5    106
3     68
2     18
1      8
Name: famrel, dtype: int64
freetime
3    157
4    115
2     64
5     40
1     19
Name: freetime, dtype: int64
goout
3    130
2    103
4     86
5     53
1     23
Name: goout, dtype: int64
Dalc
1    276
2     75
3     26
5      9
4      9
Name: Dalc, dtype: int64
Walc
1    151
2     85
3     80
4     51
5     28
Name: Walc, dtype: int64
health
5    146
3     91
4     66
1     47
2     45
Name: health, dtype: int64
absences
0     115
2      65
4      53
6      31
8      22
10     17
14     12
12     12
3       8
16      7
7       7
5       5
18      5
20      4
11      3
9       3
13      3
15      3
22      3
1       3
38      1
30      1
40      1
23      1
19      1
28      1
75      1
21      1
24      1
56      1
26      1
54      1
25      1
17      1
Name: absences, dtype: int64
G1
10    51
8     41
11    39
7     37
12    35
13    33
9     31
14    30
15    24
6     24
16    22
18     8
17     8
5      7
19     3
4      1
3      1
Name: G1, dtype: int64
G2
9     50
10    46
12    41
13    37
11    35
15    34
8     32
14    23
7     21
5     15
6     14
16    13
0     13
18    12
17     5
19     3
4      1
Name: G2, dtype: int64
G3
10    56
11    47
0     38
15    33
8     32
13    31
12    31
9     28
14    27
16    16
6     15
18    12
7      9
5      7
17     6
19     5
20     1
4      1
Name: G3, dtype: int64
Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [2]:
X

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,0,18,1,0,0,4,4,0,4,...,4,3,4,1,1,3,6,5,6,6
1,0,0,17,1,0,1,1,1,0,2,...,5,3,3,1,1,3,4,5,5,6
2,0,0,15,1,1,1,1,1,0,2,...,4,3,2,2,3,3,10,7,8,10
3,0,0,15,1,0,1,4,2,1,3,...,3,2,2,1,1,5,2,15,14,15
4,0,0,16,1,0,1,3,3,2,2,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,1,1,20,1,1,0,2,2,3,3,...,5,5,4,4,5,4,11,9,9,9
391,1,1,17,1,1,1,3,1,3,3,...,2,4,5,3,4,2,3,14,16,16
392,1,1,21,0,0,1,1,1,2,2,...,5,5,3,3,3,3,3,10,8,7
393,1,1,18,0,1,1,3,2,3,2,...,4,4,1,3,4,5,0,11,12,10
394,1,1,19,1,1,1,1,1,2,0,...,3,2,3,3,3,5,5,8,9,9

0. Correctly changes all features of the DataFrame to be numeric, using apply() or other methodology in your notebook (write python code instead of doing it manually or dropping columns like in the first homework)

In [3]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4)
# split validate set and test set
validate_train,holdout_train,validate_test,holdout_test = train_test_split(X_test, y_test, test_size=0.5)

1. Correctly split dataset into train, validate, and holdout Dataframes

In [4]:
# Import the model we are using
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

baseline_classifier_model = RandomForestClassifier()
# Train the baseline model on training data
baseline_classifier_model = baseline_classifier_model.fit(X_train, y_train)

3. A RandomForest model is correctly trained on training data (no validation), and evaluated on the holdout

In [5]:
# Use the forest's predict method on the holdout
predictions = baseline_classifier_model.predict(holdout_train)
# Calculate the accuracy_score
accuracy_score(predictions, holdout_test)

0.810126582278481

4. Accuracy of the baseline RandomForest model is correctly calculated and reported on the holdout

In [6]:
# train the model for 5 times and get the best model for 
best_model = None
classifier_modelt = []
for i in range(5):
    classifier_model = RandomForestClassifier()
    classifier_modelt[i] = classifier_model.fit(X_train, y_train)
    predictions = classifier_modelt[i].predict(validate_train)
    score = accuracy_score(validate_test, predictions)
    print("%d times running, scoring %f"%(i+1,score))
    if best_model is None or best_model[1] < score:
        best_model = (classifier_modelt[i], score)

model, score = best_model
print("best performance %f"%(score))

NameError: name 'classifier_modelt' is not defined

5. The RandomForest model is re-trained five times, and tested on the validation set (reporting best-performing accuracy)

In [ ]:
# apply the best model on holdout data
predictions = model.predict(holdout_train)
# Calculate the accuracy_score
accuracy_score(predictions, holdout_test)

6. The best performing RandomForest model is correctly tested and scored on the holdout dataset

7. Discussion explaining your results and whether your best-trained model generalized

- Because the randomness of data from dataset and model, the results will be different. 
- The accuracy of the best model selected by validate_set has out-performed the baseline model on the holdout_set. 
- It's obvious that the best model found by predicting the validation set has helped to improve its accuracy compared to the baseline model.